:root {
    --green: #22ff2d;
    --green-light: #22ff2d;
    --dark: #333;
    --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    color: #000;
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    background-color: #ffffff;
    box-shadow: var(--shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .logo a {
    font-size: 3rem;
    font-weight: 700;
    color: var(--green);
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
}

header nav ul li a {
    display: block;
}

header nav ul li:hover {
    background-color: var(--green-light);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

header nav ul li:hover a {
    color: #ffffff;
}

header .icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .icons a {
    font-size: 2rem;
    color: var(--green);
    background: #eee;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
}

#menu {
    display: none;
}

@media (max-width: 850px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }
}

@media (max-width: 670px) {
    #menu {
        display: block;
        font-size: 2rem;
        color: var(--green);
        cursor: pointer;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: #ffffff;
        box-shadow: var(--shadow);
        padding: 1rem 0;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    header .navbar li {
        display: block;
        margin: 0 1rem;
        padding: 1rem;
        font-size: 1.6rem;
        background: #eee;
        border-radius: 5px;
    }
}

section {
    padding: 1rem 5%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background-color: var(--dark);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10rem;
}

.btn:hover {
    background-color: var(--green);
}

.slide-content,
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.slide-content .text h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--green);
    margin-bottom: 1rem;
}

.slide-content .text h3 {
    font-size: 5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1rem;
}

.slide-content .text p {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 2rem;
}

.popular-prooducts,
.menu {
    background: #eee;
}

.heading {
    text-align: center;
    color: var(--green);
    margin-bottom: 3rem;
    font-size: 3rem;
}

.sub-heading {
    text-align: center;
    color: #333;
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-size: 1.6rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
}

.card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    overflow: hidden;
}

.card:hover #eye-icon {
    display: flex;
    top: 1rem;
    left: 1rem;
}

.card:hover #heart-icon {
    display: flex;
    top: 1rem;
    right: 1rem;
}

.card #eye-icon {
    position: absolute;
    top: -10rem;
    left: -10rem;
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    background: #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    cursor: pointer;
    display: none;
}

.card #heart-icon {
    position: absolute;
    top: -1rem;
    right: -1rem;
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    background: #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    cursor: pointer;
    display: none;
}

.card img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    margin-bottom: 2rem;
}

.card h3 {
    font-size: 2rem;
    color: var(--dark);
    margin-bottom: 1rem;
}

.stars {
    margin-bottom: 2rem;
}

.stars i {
    font-size: 2rem;
    color: var(--green);
}

.card .price {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 2rem;
    margin-right: 1rem;
    color: var(--green);
}

.card .description {
    font-size: 1.6rem;
    line-height: 3rem;
    color: #333;
    margin-bottom: 2rem;
}

.row {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

.row .content h3 {
    font-size: 2.5rem;
    color: var(--dark);
    margin-bottom: 2.5rem
}

.row .content p {
    font-size: 1.6rem;
    line-height: 3rem;
    color: #333;
    margin-bottom: 2rem;
}

.row .content .icon-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.row .content .icon-container .icon {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #eee;
    padding: 2rem 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.row .content .icon-container .icon h3 {
    font-size: 2rem;
    color: var(--dark);
    margin-bottom: 0;
}

.menu {}